
body{
  background: black;
}
.movies-container{
  padding: 15px;
  margin: 10px;
  margin-left: 10%;
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: solid black;
}

.genre-bar{
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

button{
  font-size: 2em;
  background: white;
}

.image-label{
  color: yellow;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.8);
  padding: 5px 10px; 
}
.result-item{
  position: relative;
}
